/* marugarciamoreno.css */

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Merriweather', sans-serif;
	margin-left: 5px;
	margin-right: 5px;
}

/*-------------- CABECERA --------------*/

.botonera {
	padding-top: 10px;
	width: 100%;
	overflow: auto;
	padding-right: 20px;
	height: 110px;

	background-color: white;
	position: fixed;
	top: 0px;

	z-index: 1;
}


.logo {
	float: left;
	padding-left: 25px;
	width: 20%;
	border-right: 1px solid lightgrey;
}

.boton {float: left;
	list-style-type: none;
	width: 80%;
	
}

.boton ul {list-style-type: none;
	float: right;
	display: block;
}

.boton li {display: inline-block;}

.boton li a {
	float: left;
	font-family: 'Playfair Display SC', sans-serif;
	font-size: 22px;
	display: block;
	text-decoration: none;

	margin: 20px 10px;
	padding: 5px 15px;

	color: grey;

	/*background-color: salmon;*/
}

.botonera .boton a:hover {
	color: white;
	background-color: #66ccb8;
	/*en verdad que el recuadro quede cuando esta seleccionada esa pagina
	que el hover sea cambiar de color*/
}


/*-------------------- PROYECTOS --------------------*/

.proyectos {
	margin: 20px 20px;
	clear: both;
}

.parte1 {
	margin-bottom: 25px;
	margin-top: 110px;
	height: 585px;
}

.uno{
	background-image: url(images/makhabucha/img3033.jpg);
	background-size: cover;
	height: 585px;
	width: 68%;
	float: left;
	margin-right: 25px;
	position: relative;
}

.uno .caja {
	transition: ease 0.6s;
	opacity: 0;
}

.uno .caja a {
	background-color: black;
	height: 100%;
	width: 100%;
	position: absolute;
}

.uno .text {
	position: absolute;
 	top: 44%;
  	width: 103%;
  	text-align: center;
  	display: block;
  	box-sizing: border-box;
  	color: white;

  	transition: ease 0.7s;
  	opacity: 0;
}

.text p {
	color: white;
	margin: auto;
	z-index: 2;
	text-align: center;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 22px;
}

.text span {
	font-family: 'Lobster', sans-serif;
	font-size: 44px;
}

.uno:hover .caja{
	opacity: 0.6;
}

.uno:hover .text{
	opacity: 1;
}

/*======DOS======*/

.dos {
	background-image: url(images/angkor/img7327.jpg);
	background-size: cover;
	height: 48%;
	width: 30%;
	float: left;
	margin-bottom: 25px;
	position: relative;
}

.dos .caja {
	transition: ease 0.6s;
	opacity: 0;
}

.dos .caja a {
	background-color: black;
	height: 100%;
	width: 100%;
	position: absolute;
}

.dos .text {
	position: absolute;
 	top: 30%;
 	width: 97%;
  
  	text-align: center;
  	display: block;
  	box-sizing: border-box;
  	color: white;

  	transition: ease 0.7s;
  	opacity: 0;
}

.dos:hover .caja{
	opacity: 0.7;
}

.dos:hover .text{
	opacity: 1;
}

/*============TRES===========*/

.tres {
	background-image: url(images/natura/img4817.jpg);
	background-size: cover;
	height: 48%;
	width: 30%;
	float: left;
	position: relative;
}

.tres .caja {
	transition: ease 0.6s;
	opacity: 0;
}

.tres .caja a {
	background-color: black;
	height: 100%;
	width: 100%;
	position: absolute;
}

.tres .text {
	position: absolute;
 	top: 30%;
 	width: 97%;
  
  	text-align: center;
  	display: block;
  	box-sizing: border-box;
  	color: white;

  	transition: ease 0.7s;
  	opacity: 0;
}

.tres:hover .caja{
	opacity: 0.7;
}

.tres:hover .text{
	opacity: 1;
}

/*================= PARTE 2 ===================*/

.parte2 {
	clear: both;
	margin-bottom: 25px;
	height: 585px;
}


.cuatro {
	background-image: url(images/thailand/img2793.jpg);
	background-size: cover;
	height: 48%;
	width: 30%;
	float: left;
	position: relative;
}

.cuatro .caja {
	transition: ease 0.6s;
	opacity: 0;
}

.cuatro .caja a {
	background-color: black;
	height: 100%;
	width: 100%;
	position: absolute;
}

.cuatro .text {
	position: absolute;
 	top: 30%;
 	width: 97%;
  
  	text-align: center;
  	display: block;
  	box-sizing: border-box;
  	color: white;

  	transition: ease 0.7s;
  	opacity: 0;
}

.cuatro:hover .caja{
	opacity: 0.7;
}

.cuatro:hover .text{
	opacity: 1;
}

/* ------------CINCO------------*/

.cinco {
	background-image: url(images/vietnam/img5468.jpg);
	background-size: cover;
	height: 585px;
	width: 68%;
	float: right;
	position: relative;
}

.cinco .caja {
	transition: ease 0.6s;
	opacity: 0;
}

.cinco .caja a {
	background-color: black;
	height: 100%;
	width: 100%;
	position: absolute;
}

.cinco .text {
	position: absolute;
 	top: 44%;
  	width: 103%;
  	text-align: center;
  	display: block;
  	box-sizing: border-box;
  	color: white;

  	transition: ease 0.7s;
  	opacity: 0;
}

.cinco:hover .caja{
	opacity: 0.7;
}

.cinco:hover .text{
	opacity: 1;
}



/* ------------SEIS------------*/

.seis {
	background-image: url(images/asunday/img92331.jpg);
	background-size: cover;
	height: 48%;
	width: 30%;
	float: left;
	margin-top: 24px;
	position: relative;
}

.seis .caja {
	transition: ease 0.6s;
	opacity: 0;
}

.seis .caja a {
	background-color: black;
	height: 100%;
	width: 100%;
	position: absolute;
}

.seis .text {
	position: absolute;
 	top: 30%;
 	width: 97%;
  
  	text-align: center;
  	display: block;
  	box-sizing: border-box;
  	color: white;

  	transition: ease 0.7s;
  	opacity: 0;
}

.seis:hover .caja{
	opacity: 0.7;
}

.seis:hover .text{
	opacity: 1;
}


/*================= PARTE 3 ===================*/

.parte3 {
	clear: both;
	margin-bottom: 25px;
	height: 585px;
}

/* ------------ SIETE ------------*/

.siete{
	background-image: url(images/awomansheart/go1.jpg);
	background-size: cover;
	height: 585px;
	width: 68%;
	float: left;
	margin-right: 25px;
	position: relative;
}

.siete .caja {
	transition: ease 0.6s;
	opacity: 0;
}

.siete .caja a {
	background-color: black;
	height: 100%;
	width: 100%;
	position: absolute;
}

.siete .text {
	position: absolute;
 	top: 44%;
  	width: 103%;
  	text-align: center;	
  	box-sizing: border-box;
  	color: white;

  	transition: ease 0.7s;
  	opacity: 0;
}

.siete:hover .caja{
	opacity: 0.7;
}

.siete:hover .text{
	opacity: 1;
}

/* ------------ OCHO ------------*/

.ocho {
	background-image: url(images/malaysia/img0481.jpg);
	background-size: cover;
	height: 48%;
	width: 30%;
	float: right;
	margin-bottom: 25px;
	position: relative;
}

.ocho .caja {
	transition: ease 0.6s;
	opacity: 0;
}

.ocho .caja a {
	background-color: black;
	height: 100%;
	width: 100%;
	position: absolute;
}

.ocho .text {
	position: absolute;
 	top: 30%;
 	width: 100%;
  
  	text-align: center;
  	box-sizing: border-box;
  	color: white;

  	transition: ease 0.7s;
  	opacity: 0;
}

.ocho:hover .caja{
	opacity: 0.7;
}

.ocho:hover .text{
	opacity: 1;
}

/*------------------- PIE ------------------*/

.footer {
	overflow: auto;
	clear: both;
	margin-top: 20px;
	margin-bottom: 25px;
	margin-left: 20px;
	margin-right: 20px;
	/*border-bottom: 1px solid #343938;*/
}

.facebook {
	float: left;
	margin-left: 10px;
}

.facebook img {
	height: 30px;
	width: 30px;
}

.instagram {
	float: left;
	margin-left: 10px;
}

.instagram img {
	height: 30px;
	width: 30px;
}

.pinterest {
	float: left;
	margin-left: 10px;
}

.pinterest img {
	height: 30px;
	width: 30px;
}

.copy {
	display: block;
	text-align: right;
	margin-top: 10px;

}

.copy span {
	font-family: 'Pacifico', sans-serif;
	color: red;
}


/*-------------- CONTACTO --------------*/

.pagcontact {
	/*background-color: salmon;*/
	overflow: auto;
}

.pagcontact h2 {
	margin-top: 110px;
	margin-left: 30px;
	font-family: 'Abril Fatface', sans-serif;
	font-size: 35px;
	overflow: auto;
}

.formulario {
	float: left;
	width: 100%;
	/*margin-left: 40%;*/
	position: relative;
}

.contact form {
	width: 30%;
	display: inline-block;
    text-align: right;
	position: absolute;
	top: 40px;
	right: 45px;
	z-index: 1;
	margin: 10px;
	color: white;
}

.contact input {
	margin-bottom: 15px;
}

.botonform {
	padding: 5px;
	margin-top: 15px;
	background-color:#66ccb8;
	color: white;
	font-size: 16px;
	font-family: 'Abril Fatface', sans-serif;
}

.map {
	/*float: right;*/
	/*width: 76%;*/
	margin-right: 30px;
	margin-bottom: 65px;
	width: 100vw;
	height: 60vh;
	position: relative;
	background-color: skyblue;
}

.map iframe{
	width: 100%;
	min-height: 60vh;
}

.pagcontact .footer {
	clear: both;
	margin-left: 20px;
	margin-right: 20px;
}


/*--------------- VIDEOS -----------------*/

.pagvideos {
	
}

.videos {
	overflow: auto;
	clear: both;
	margin-top: 200px;
	margin-right: 20px;
	margin-left: 20px;
	width: 4050px;
}

.videos p {
	font-family: 'Abril Fatface', sans-serif;
	font-size: 20px;
}
.videouno {
	float: left;
	margin-right: 25px;
}

.videodos {
	float: left;
	margin-right: 25px;
}

.videotres {
	float: left;
	margin-right: 25px;
}

.videocuatro {
	float: left;
	margin-right: 25px;
}

.videocinco {
	float: left;
	margin-right: 25px;
}

.videoseis {
	float: left;
}

.pagvideos .footer {
	position: fixed;
	right: 0;
	left: 0;
	clear: both;
	margin-top: 100px;
	margin-bottom: 25px;
	margin-left: 20px;
	margin-right: 20px;
}

/*--------------ABOUT---------------*/

.pagabout .about {
	clear: both;
	margin-top: 110px;
	background-image: url("images/biografia.jpg");
	background-size: cover;
    background-repeat: no-repeat;
    background-position: left top;
    padding: 20px;
    height: 970px;
}

.pagabout .fondotexto {
	height: 70%;
	width: 36%;
	background-color: black;
	padding: 15px;
	text-align: justify;
	display: block;
	position: fixed;

	opacity: 0.4;
}

.texto{
	opacity: 1;
	height: 70%;
	width: 36%;
	color: white;
	padding: 15px;
	text-align: justify;
	display: block;
	position: fixed;
} 


.pagabout h2 {
	margin-top: 10px;
	font-family: 'Abril Fatface', sans-serif;
	font-size: 35px;
}

.pagabout .footer{
	position: fixed;
	bottom: -30px;
	left: -22px;
	right: 0;
	clear: both;

	padding-top: 20px;
	padding-bottom: 25px;
	padding-left: 20px;
	padding-right: 20px;
	z-index: 1;
	background-color: white;

	width: 100%;
	height: 90px;
}

/*=================PROY UNO=================*/

.proyuno {
	/*overflow: auto;
	clear: both;*/
}

.fondotextofotouno {
	margin-top: 20px;
	width: 20%;
	height: 550px;
	border-right: 1px solid lightgrey;

	float: left;

	padding-left: 25px;
	padding-right: 25px;
}

.textofotouno {
	top: 120px;
	display: block;
	text-align: justify;
}

.textofotouno span {
	font-family: 'Playfair Display SC', sans-serif;
}

.fotosunopadre {
	float: left;
	width: 50%;
}
.fotosuno {
	margin-top: 110px;
	width: 6400px;
	height: 100px;
}

.fotosuno img {
	margin-top: 30px;
	float: left;
	max-height: 550px;
	margin: 20px;
}

.footerfotos{
	position: fixed;
	bottom: -24px;
	left: -5px;
	right: 0;
	clear: both;

	padding-top: 20px;
	padding-bottom: 25px;
	padding-left: 20px;
	padding-right: 20px;
	z-index: 1;
	background-color: white;

	width: 100%;
	height: 90px;
}

/*=================PROY DOS y los que siguen para texto=================*/

.fondotextofoto {
	margin-top: 20px;
	width: 20%;
	height: 550px;
	border-right: 1px solid lightgrey;

	float: left;

	padding-left: 25px;
	padding-right: 25px;
}

.textofoto {
	top: 120px;
	display: block;
	text-align: justify;
}

.textofoto span {
	font-family: 'Playfair Display SC', sans-serif;
}

.fotosdospadre {
	float: left;
	width: 50%;
}
.fotosdos {
	margin-top: 110px;
	width: 10600px;
	height: 100px;
}

.fotosdos img {
	margin-top: 30px;
	float: left;
	max-height: 550px;
	margin: 20px;
}


/*=================PROY TRES=================*/

.fotostrespadre {
	float: left;
	width: 50%;
}
.fotostres {
	margin-top: 110px;
	width: 12500px;
	height: 100px;
}

.fotostres img {
	margin-top: 30px;
	float: left;
	max-height: 550px;
	margin: 20px;
}


/*=================PROY CUATRO=================*/

.fotoscuatropadre {
	float: left;
	width: 50%;
}
.fotoscuatro {
	margin-top: 110px;
	width: 7300px;
	height: 100px;
}

.fotoscuatro img {
	margin-top: 30px;
	float: left;
	max-height: 550px;
	margin: 20px;
}


/*=================PROY CINCO=================*/

.fotoscinco {
	margin-top: 110px;
	width: 9300px;
	height: 100px;
}

.fotoscinco img {
	margin-top: 30px;
	float: left;
	max-height: 550px;
	margin: 20px;
}

/*=================PROY SEIS=================*/


.fotosseis {
	margin-top: 110px;
	width: 5500px;
	height: 100px;
}

.fotosseis img {
	margin-top: 30px;
	float: left;
	max-height: 550px;
	margin: 20px;
}

/*=================PROY SIETE=================*/


.fotossiete {
	margin-top: 110px;
	width: 8500px;
	height: 100px;
}

.fotossiete img {
	margin-top: 30px;
	float: left;
	max-height: 550px;
	margin: 20px;
}

/*=================PROY OCHO=================*/


.fotosocho {
	margin-top: 110px;
	width: 13700px;
	height: 100px;
}

.fotosocho img {
	margin-top: 30px;
	float: left;
	max-height: 550px;
	margin: 20px;
}